{% extends 'admin/admin_base.html.twig' %}

{% block title %}Modifier la categorie {{ category.name }}{% endblock %}

{% block body %}
    <h1>Modifier {{ category.name }}</h1>

    {{ form_start(form) }}
        <div class="d-flex">
            {{ form_row(form.name) }}
        </div>
    {{ form_end(form) }}
{% endblock %}
