{% extends 'admin/admin_base.html.twig' %}

{% block title %}Toutes des Catégories{% endblock %}

{% block body %}
    <p>
        <a class="btn btn-primary btn-sm" href="{{ path('app_admin_category_create') }}">Creer une nouvelle catégorie</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Recettes</th>
                <th style="width: 200px">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td>
                    {# <a href="{{ url('app_category_show', {id: category.id, slug: category.slug}) }}">{{ category.name }}</a> #}
                    <p>{{ category.name }}</p>
                </td>
                <td>
                    <p>{{ category.count }}</p>
                </td>
                <td>
                    <div class="d-flex gap-1">
                        <a class="btn btn-primary btn-sm" href="{{ path('app_admin_category_edit', {id: category.id}) }}">Modifier</a>
                        
                        <form action="{{ path('app_admin_category_delete', {id: category.id}) }}" method="post">
                            <input type="hidden" name="_method" value="DELETE"> {# Simuler une requête de type delete #}
                            <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
