{% extends 'admin/admin_base.html.twig' %}

{% block title %}Modifier la recette {{ recipe.title }}{% endblock %}

{% block body %}
    <h1>Modifier {{ recipe.title }}</h1>

    <p>
        {# <img src="/images/recipes/{{ recipe.thumbnail }}" alt="{{ recipe.thumbnail }}"> #}
        <img src="{{ vich_uploader_asset(recipe, 'thumbnailFile') }}" alt="{{ recipe.thumbnail }}">
    </p>

    {{ form_start(form) }}
        <div class="d-flex">
            {{ form_row(form.title) }}
            {{ form_row(form.duration) }}
        </div>
        {{ form_row(form.slug) }}
        {{ form_row(form.category) }}
        {{ form_row(form.text) }}
    {{ form_end(form) }}
{% endblock %}
