{% extends 'admin/admin_base.html.twig' %}

{% block title %}Toutes les Recettes{% endblock %}

{% block body %}
    <p>
        <a class="btn btn-primary btn-sm" href="{{ path('app_admin_recipe_create') }}">Creer une nouvelle recette</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(recipes, 'ID', 'r.id') }}</th>
                <th>{{ knp_pagination_sortable(recipes, 'Titre', 'r.title') }}</th>
                <th>{{ knp_pagination_sortable(recipes, 'Catégorie', 'c.name') }}</th>
                <th style="width: 200px">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for recipe in recipes %}
            <tr>
                <td>
                    <p>{{ recipe.id }}</p>
                </td>
                <td>
                    <a href="{{ url('app_recipe_show', {id: recipe.id, slug: recipe.slug}) }}">{{ recipe.title }}</a>
                </td>
                <td>
                    <p>{{ recipe.category.name }}</p>
                </td>
                <td>
                    <div class="d-flex gap-1">
                        <a class="btn btn-primary btn-sm" href="{{ path('app_admin_recipe_edit', {id: recipe.id}) }}">Modifier</a>
                        
                        <form action="{{ path('app_admin_recipe_delete', {id: recipe.id}) }}" method="post">
                            <input type="hidden" name="_method" value="DELETE"> {# Simuler une requête de type delete #}
                            <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {# <div class="d-flex">
        {% if page > 1 %}
            <a href="{{ path('app_admin_recipe_index', {page: page - 1}) }}" class="btn btn-secondary me-1">Page précédente</a>
        {% endif %}

        {% if page < maxPage %}
            <a href="{{ path('app_admin_recipe_index', {page: page + 1}) }}" class="btn btn-secondary">Page suivante</a>
        {% endif %}
    </div> #}

    {# display navigation #}
    <div class="navigation">
        {{ 
            knp_pagination_render(recipes, null, {}, {
                'align': 'right',
                'size': 'large',
                'rounded': true,
            }) 
        }}
    </div>
{% endblock %}
